@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');


.card{
  height: 400px;
  width: 300px;
  margin: 20px;
}
.header{
  background: #3450ad;
}
.heading{
  text-align: center;
  color: white;
  font-size: 36px;
 font-family: 'Alfa Slab One', cursive;


}
.mainIcon{
  padding-right: 3px;
}
